<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/blog.css" media="screen" />
</head>
<body>

<section class="header">
	<a href="/">HOME</a>
	<a href="/about.html">ABOUT</a>
</section>

<section class="content">
	<section class="main_area">{{ content }}</section>
</section>

<footer class="footer">
	<nav class="footer_nav">
		<a href="/" class="home">回到首页</a>
		<a href="mailto:tenjessy@gmail.com" class="email">Gmail</a>
		<a href="https://github.com/tenjessy/blog" class="github">GitHub</a>
		<a href="http://weibo.com/u/1720170633" class="twitter">Twitter</a>
	</nav>
</footer>

<!-- google统计 -->
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-25000858-2']);
	_gaq.push(['_trackPageview']);
	;;;(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

</body>
</html>
